<%- include('../../layouts/dashboard/head') %>
    <%- include('../../layouts/dashboard/top_nav') %>
        <%- include('../../layouts/dashboard/main_content_top_html') %>
            <div id="layoutSidenav_content">
                <main class="pb-3">
                    <div class="container-fluid px-4">
                        <h5 class="mt-4">Static Navigation</h5>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Static Navigation</li>
                        </ol>
                        <div>
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <table class="show_details_table table">
                                        <tbody>
                                            <tr>
                                                <td>title</td>
                                                <td>:</td>
                                                <td>Lorem ipsum dolor sit amet.</td>
                                            </tr>
                                            <tr>
                                                <td>title</td>
                                                <td>:</td>
                                                <td>Lorem ipsum dolor sit amet.</td>
                                            </tr>
                                            <tr>
                                                <td>title</td>
                                                <td>:</td>
                                                <td>Lorem ipsum dolor sit amet.</td>
                                            </tr>
                                            <tr>
                                                <td>title</td>
                                                <td>:</td>
                                                <td>Lorem ipsum dolor sit amet.</td>
                                            </tr>
                                            <tr>
                                                <td>title</td>
                                                <td>:</td>
                                                <td>Lorem ipsum dolor sit amet.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <%- include('../../layouts/dashboard/main_content_bottom_html') %>