<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/backend/css/dashboard.css">
    <script src="/backend/js/axios.js"></script>
    <script src="/backend/js/dashboard.js" defer></script>
</head>
<body>
    <div id="app"></div>
</body>
</html>